<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style2.css} "/>
    <meta charset="UTF-8">

    <title>Игрок1</title>

</head>
<body>

<form class="left" >
    <p>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
    </p>
</form>
<form class="rait" >
    <p>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
        <br>
        <input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" "><input class="desc" type="button" value=" ">
    </p>
</form>

</body>
</html>